# WeatherPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time

# Import API key
from api_keys import api_key

# Incorporated citipy to determine city based on latitude and longitude
from citipy import citipy

# Output File (CSV)
output_data_file = "cities.csv"

# Range of latitudes and longitudes
lat_range = (-90, 90)
lng_range = (-180, 180)

## Generate Cities List

In [2]:
# List for holding lat_lngs and cities
lat_lngs = []
cities = []

# Create a set of random lat and lng combinations
lats = np.random.uniform(low=-90.000, high=90.000, size=1500)
lngs = np.random.uniform(low=-180.000, high=180.000, size=1500)
lat_lngs = zip(lats, lngs)

# Identify nearest city for each lat, lng combination
for lat_lng in lat_lngs:
    city = citipy.nearest_city(lat_lng[0], lat_lng[1]).city_name
    
    # If the city is unique, then add it to a our cities list
    if city not in cities:
        cities.append(city)

# Print the city count to confirm sufficient count
len(cities)

592

### Perform API Calls
* Perform a weather check on each city using a series of successive API calls.
* Include a print log of each city as it'sbeing processed (with the city number and city name).

In [3]:
def get_current_weather(city, api_key):
    
    url = "http://api.openweathermap.org/data/2.5/weather"
    payload = {
        "appid": api_key,
        "q": city
    }
    r = requests.get(url, params=payload)
    
    if r.status_code == 200:
        return r.json()
    else:
        return None

all_cities = []
for city in cities:
    result = get_current_weather(city, api_key)
    if result:
        all_cities.append(result)
df = pd.DataFrame([{
    "name": d["name"],
    "date_time": d["dt"],
    "lat": d["coord"]["lat"],
    "lon": d["coord"]["lon"],
    "temp": d["main"]["temp"],
    "temp_min": d["main"]["temp_min"],
    "temp_max": d["main"]["temp_max"],
    "humidity": d["main"]["humidity"],
    "wind_speed": d["wind"]["speed"],
    "clouds_percent": d["clouds"]["all"],
} for d in all_cities])

### Convert Raw Data to DataFrame
* Export the city data into a .csv.
* Display the DataFrame

In [4]:
#create CSV file of raw data from OpenWeather API

In [5]:
df.to_csv("cities.csv")

In [6]:
df.head()

,name,date_time,lat,lon,temp,temp_min,temp_max,humidity,wind_speed,clouds_percent
0,Ponta Delgada,1578015042,37.73,-25.67,285.15,285.15,285.15,76,3.10,20
1,Jamestown,1578015017,-33.21,138.60,310.12,310.12,310.12,5,6.25,3
2,New Norfolk,1578015027,-42.78,147.06,293.16,292.04,294.82,55,4.60,75
3,Bredasdorp,1578015019,-34.53,20.04,287.48,286.48,289.15,87,1.00,18
4,Hithadhoo,1578015023,-0.60,73.08,301.56,301.56,301.56,72,4.27,47